.banner_all{
    margin: 0 auto;
    padding: 0 auto;
}

#work2_title{
    position: absolute;
}
.banner{ 
    background: var(--color-blue);
    margin: 0 auto;
    width: 100%;
    height: 1080px; 
}

.banner_img_all{
    width:100%;
    height: 1080px;    
    justify-self: center;
}

.post-slider{
  border:1px solid red;
  overflow: hidden;
  width:100%;
}
.post-slider .post-wrapper{
  width:100%;
  height:350px;
  margin:0px auto;
}
.post-slider .post-wrapper .post{
  width:600px;
  height:350px;
  display:inline-block;
  background:gray;
}

.post-wrapper_2{
    margin-left: -5rem;
}

