@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.creative


#home{
    margin: 0 auto;
}

.home_all{
    margin: 0 auto;
    padding: 0;
    background-image: url(./background.JPG);
    width: 1920px;
    height: 1000px;
    cursor: cell;
}



    .creative{
        position: absolute;
        width: 1920px;
        line-height: 500px;
        text-align: center;
        margin-left: 50px;

        z-index: 1;
        font-size: 10rem;
        color: var(--color-white);


    }



    .thinking{
        position: absolute;
        margin-top: 530px;
        width: 1920px;
        margin-left: 50px;

        z-index: 3;
        font-size: 5rem;
        color: var(--color-white);


    }


    .line{
        position: absolute;
        width: 1920px;
        margin-top: 600px;
        overflow: hidden;
        z-index: 2;
    }


    .bumb2{
        position: absolute;
        z-index: 2;
        width: 600px;
        text-align: center;
    }

    
.bumb:hover, .bumb_light{display: block;}

div, ul, li {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding:0;margin:0}
a {text-decoration:none;}

.quickmenu {position:absolute;width:90px;top:50%;margin-top:-50px;right:10px;background:#fff;}
.quickmenu ul {position:relative;float:left;width:100%;display:inline-block;*display:inline;border:1px solid #ddd;}
.quickmenu ul li {float:left;width:100%;border-bottom:1px solid #ddd;text-align:center;display:inline-block;*display:inline;}
.quickmenu ul li a {position:relative;float:left;width:100%;height:30px;line-height:30px;text-align:center;color:#999;font-size:9.5pt;}
.quickmenu ul li a:hover {color:#000;}
.quickmenu ul li:last-child {border-bottom:0;}

.content {position:relative;min-height:1000px;}
    
    
    

    

        