
.header{
    margin: 0 auto;
    padding: 0;
    position: absolute;
}

ul{
    margin: 0 auto;
    padding: 0;
    width: 1920px;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--color-white);
    font-size: 10px;
}

li{
    font-size: 15pt;
}

ul>li:hover{
    color: var(--color-orage);   
}